<!-- <p>add-employee works!</p>
<p>
    Today's title: {{title}}
</p> -->
<form class="example-form">
    <div style="text-align:center">

        <section>
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter firstName" name="firstName" [(ngModel)]="name.firstName">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Enter lastName" name="lastName" [(ngModel)]="name.lastName">
            </mat-form-field>

        </section>
        <div display:inline-block>
            <button class="button" (click)="changeName()" mat-raised-button color="primary">Primary</button>
            <button class="button" (click)="getNameUsingService()" mat-raised-button color="primary">Get</button>
        </div>
    </div>
</form>

<mat-divider></mat-divider>