:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}

label {
  display: block;
  width: 6em;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}

input {
  height: 3em;
  font-size: 1em;
  padding-left: 0.4em;
  display: grid;
  justify-content: center;
  margin: auto;
}
div {
  display: grid;
  justify-content: center;
  margin: auto;
}
button {
  font-family: Arial;
  background-color: blueviolet;
  border: none;
  /* padding: 5px 10px; */
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: yellowgreen;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
button:active {
  background-color: green;
  color: #ccc;
  cursor: auto;
}
