<div>
  <form [formGroup]="profileForm" (ngSubmit)="handleUpdate()">
    <label>
      First Name:
      <input type="text" formControlName="name" required>
    </label>

    <label>
      Email
      <input type="text" formControlName="email">
    </label>

    <label>
      Phone Number
      <input type="text" formControlName="phone">
    </label>
    <div>
      <button mat-raised-button type="submit" (click)="handleUpdate()" [disabled]="!profileForm.valid">Update
        Employee</button>
    </div>
  </form>

  <hr>





</div>

<p>
  Form Value: {{ profileForm.value | json }}
</p>

<p>
  Form Status: {{ profileForm.status }}
</p>